@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
p{
    margin: 0;
    padding: 0;
    
}
body{
     font-family: "Poppins", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Bitter", serif;
    font-weight: bold;
}
.navbar-brand{
    font-family: "Bitter", serif;
    font-weight: bold;
    font-size: 40px;
}
.c1{
    left: -30px;
    bottom: -30px;

}
.c1 img{
    width: 100px;
    height: 120px;
    border: 5px solid white ;
    border-radius: 20px;
    object-fit: cover;
}

.c2{
    right: -30px;
    top: 30px;

}
.c2 img{
    width: 100px;
    height: 120px;
    border: 5px solid white ;
    border-radius: 20px;
    object-fit: cover;
}
.q{
    background: #FEF7F4;
    border-left: 3px solid #EB5F2D;
    border-radius: 20px;
}
.c4{
    height: 350px;
    width: 250px;
}
