.tour h5{
    bottom: 20px;
    left: 100px;
}
.tour img{
    height: 230px;
    object-fit: cover;
}
.hero{
    height: 100vh;
    background: url(https://nepalwanders.com/wp-content/uploads/2025/09/4-1-2.jpg);
    background-size: cover;
}
.quote{
   
    height: 70vh;
    background:linear-gradient(rgba(0, 0, 0, 0.315), black), url(https://nepalwanders.com/wp-content/themes/nepalwanders/img/youtube.jpg);
}
.circle{
    width: 90px; height: 90px; background: white;
    border-radius: 50% margin-auto; 
}